
.wrapper{
    width: 1350px;
    height: fit-content;
}


@media(max-width: 1380px){
    .wrapper{
        width: 960px;
    }
}

@media(max-width: 990px){
    .wrapper{
       width: 614px; 
    }
}

.fullWidth{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

}