/* *{
    font-family: "Helvetica Neue",Arial,sans-serif;
}    */

.wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.exitText{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: #0072F5;
}

.name{
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.dataWrapper{
    display: flex;
    justify-self: center;
    width: 90%;
    flex-wrap: wrap;
}

.coinData{
    margin-top: 20px;
    width: 100%;
}

.wrapperMain{
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.certainCoin{
    width: 400px;
    height: 276px;
    border-radius: 16px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 12px;
    border: 0px;
    box-shadow: -5px 2px 35px 1px rgba(80, 80, 80, 0.142);
}

.coinStats{
    background-color: rgb(255, 0, 0);
    width: 600px;
    height: 400px;
    border: 0px;
    border-radius: 16px;
    
}

.bottomCertainCoin{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.231);
    height: 80px;
    border-radius: 12px;
}

.topCertainCoin img{
    width: 40px;
    border-radius: 6px;
    margin-right: 10px;
    height: 40px;
}

.topCertainCoin{
    display: flex;
    flex-wrap: nowrap;
    height: 105px;
    text-align: center;
    justify-content: space-between;
}

.topCeratinCoinLeft{
    display: flex;
    width: 170px;
    max-width: 170px;
    font-size: larger;
    text-align: center;
    text-align: center;
}

.likeButton{
    width: 40px;
    height: 40px;

}

.centralCertainCoin{
    p{
        color: rgb(143, 137, 180);
        font-size: large;
        font-weight: 600;
    }
    span{
        font-size: large;
        font-weight: bold;
    }

}

.centralCertainCoin{
    height: 80px;
}

.bottomCertainCoin{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 7px;
}

.bottomCertainCoinLeft{
    width: 50%;
    margin-top: 10px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

    span{
        color: rgb(143, 137, 180);

    }
}

.bottomCertainCoinRight{
    width: 50%;
    margin-top: 10px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span{
        color: rgb(143, 137, 180);

    }
}

@media(max-width: 1220px){
    

    
    .certainCoin{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .wrapperMain{
        display: flex;
        flex-wrap: wrap;

        .coinStats{
            margin-bottom: 20px;
        }
    }
}